/* HOJA DE ESTILO */

/* Base Mobile First */

body {
    margin: 0;
    padding: 16px;
    font-family: "Poppins", sans-serif;
}

/* Navegación */


/* Imágenes */

/* Cualquier imagen dentro de main adaptable al ancho de la pantalla */

main img {
    display: block;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0;
}


/* Formulario */


/* Adaptación a pantallas grandes */